<ul>
{{#each shoppingCart.items as |item|}}
  <li>{{item.producer}}: {{item.varietal}}  -- ${{item.cost}} <img src="{{item.image}}" alt="{{product.title}}" />
  <button>remove</button></li>
{{/each}}
</ul>

<h4>Total Cost: ${{totalCost}}.00</h4>
