
<div class="container">
  <h3>{{product.producer}}</h3>
  <p>{{product.varietal}}</p>
  <img src="{{product.image}}" alt="{{product.title}}" />
  <p>{{product.description}}</p>
  <h5>${{product.cost}}.00</h5>

  <button {{action 'addToCart' product}}>Add to Cart</button>
</div>
<hr>
<br>
